.popupnotification {
    position: fixed;
    z-index: 999;
    top: 5em;
    right: 2em;
    max-width: 30em;
    width: 25em;
}

    .popupnotification > div {
    }
        .popupnotification > div > .d-flex {
            align-items: flex-start;
        }
        
            .popupnotification > div > .d-flex > img {
                width: 80px;
                padding-top: 0.5em;
                padding-right: 1em;
            }

            .popupnotification > div > .progress {
                height: 3px;
            }