.sidebar {
    overflow: auto;
    min-height: 100%;
}

.proterty {
    overflow: auto;
    display: block;
    background: #C6E2FF;
    min-height: 100%;
    min-width: 15%;
}

.content {
    min-height: 100%;
    display: grid;
    grid-template-columns: auto;
    /*grid-template-rows: 1em auto;*/
}

.popupnotification {
    position: fixed;
    z-index: 999;
    top: 5em;
    right: 2em;
    max-width: 30em;
    width: 25em;
}

    .popupnotification > div {
    }

        .popupnotification > div > .d-flex > img {
            width: 80px;
            padding-right: 1em;
        }

        .popupnotification > div > .progress {
            height: 3px;
        }

.footer {
}
