/*!
 * Base on https://github.com/kurtobando/simple-tags
 */
.simpletags
{
	box-sizing:border-box !important;
	padding:0.5em;
	display:flex !important;
	flex-wrap:wrap !important; 
	height:auto;
}

.simpletags>ul
{
	list-style:none;
	padding:0;
	margin:0;
	display:-webkit-box;
	display:flex;
	flex-wrap:wrap;
}

.simpletags ul li
{
	margin:0 .2em;
	padding:.1em .3em;
	color:#fff;
	background-color:#007bff!important;
	border-radius:5px
}

.simpletags ul li a
{
	margin:.5em .2em;
	text-decoration:none;
	cursor: pointer;
	color:inherit;
}

.simpletags input
{	
	box-sizing:border-box;
	flex-grow:1;
	border:none;
	outline:none;
	font-size:inherit;
	font-family:inherit;
	color:inherit;
}