.move {
    display: flex;
    margin-bottom: 0.5em;
    padding: 2px;
}

.move-list {
    margin: 0px;
    width: 40%;
}

    .move-list > p {
        cursor: default;
        padding-left: 0.5em;
    }

    .move-list > ul {
        height: 250px;
        overflow-y: auto;
        cursor: default;
    }

        .move-list > ul > li {
            cursor: pointer;
        }

            .move-list > ul > li > img {
                height: 16px;
                margin-right: 0.5em;
            }

            .move-list > ul > li > i {
                margin-right: 0.5em;
}

.move-button {
    margin: auto;
}