.modalformular {
    
}
    .modalformular > .modal-dialog > form {
        background-color: transparent !important;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }