.selection {
    position: relative;
    padding: 0px;
}

    .selection > span {
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap !important;
        align-items: center;
        padding: 0.2em;
        min-height: 2.2em;
    }

        .selection > span > ul {
            padding-left: 0;
            margin-right: auto;
            margin-bottom: 0;
        }

            .selection > span > ul > li {
                float: left;
                display: flex;
                align-items: center;
                margin-right: 0.5em;
                margin-top: 0.1em;
                margin-bottom: 0.1em;
                background-color: #f0f5ff;
                border: 0px solid var(--bs-light);
                border-radius: 0.2em;
                padding-left: 0.1em;
                padding-right: 0.1em;
                white-space: nowrap;
            }

                .selection > span > ul > li > img {
                    height: 16px;
                    vertical-align: middle;
                }

                .selection > span > ul > li > a {
                    margin-left: 0.5em;
                    margin-right: 0.1em;
                    text-decoration: none;
                    color: #cccccc;
                }

                    .selection > span > ul > li > a:hover {
                        color: #aaaaaa;
                    }

        .selection > span > a {
            text-decoration: none;
            color: #cccccc;
            float: right;
            margin: 0;
            padding-right: 0.3em;
        }

            .selection > span > a:hover {
                color: #aaaaaa;
            }

    .selection div > ul {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 15rem;
        margin: 0px;
        padding: 0px;
    }

    .selection div > input {
        margin-left: 0.2em;
        margin-right: 0.2em;
        margin-top: 0em;
        margin-bottom: 0.1em;
        border: 1px solid #cdd4da;
        outline: none;
        width: 99%;
    }

    .selection div > ul > li > span > span {
        display: flex;
        align-items: center;
    }

        .selection div > ul > li > span > span > img {
            height: 16px;
            margin-right: 0.5em;
            vertical-align: middle;
        }

    .selection div > ul > li > a {
        cursor: default;
        color: #000000;
    }

    .selection div > ul > li > small {
        margin-left: 0.5em;
        color: var(--bs-secondary);
    }

    .selection div > ul > li > span > span > a {
        cursor: default;
        color: #000000;
    }

    .selection div > ul > li > span > span > small {
        margin-left: 0.5em;
        color: var(--bs-secondary);
    }

    .selection > div > ul > li > span > p {
        white-space: break-spaces;
        cursor: default;
    }